.container {
  max-width: 120rem;
  margin: 8rem auto; //center div
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--border-thin);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  height: 100rem;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  background-color: var(--color-white);

  flex: 1; //Let the hotel-view container grow as much as it can, as it sits next to the sidebar
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-thin);
}

.description {
  font-size: 1.4rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: yellowgreen;
  flex: 1;
}
