/* Simple global style reset using universal selector */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* root font-size. 1 rem */
  font-size: 62.5%;
  /* now 1rem = 10px */
}

body {
  box-sizing: border-box;
}
