*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  //1rem = 10px because 10/16 = 0.625 -> 10 px are 62.5% of 16px (1rem by default)
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }
  //   @include respond(phone) {
  //     font-size: 37.5%; //1rem = 6px
  //   }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0; //remove the thick white border the page body
  }
}
